html, body {
  height: 100%;
  margin: 0;
}

main {
  flex: 1;
}

.App {
  background-image: url('./images/fondo-web2.jpg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}